/* New Blog  */
.create {
    max-width: 80vh;
    margin: 0 auto;
    text-align: center;
  }
  .create label {
    text-align: left;
    display: block;
  }
  .create h2 {
    font-size: 25px;
    color: #50b2df;
    margin-bottom: 30px;
  }
  .create input, .create textarea {
    width: 100%;
    font-size: 17px;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
  }
  
  .create textarea {
    font-size: 17px;
    height: 200px;
  }
  .create button {
    background: #50b2df;
    color: #fff;
    font-weight: bold;
    width: 50vh;
    border: 0;
    margin: 20px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }